@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .px-sys {
    @apply px-4;
  }

  .w-sys {
    @apply w-[min(100%,1200px)];
  }
}

@layer utilities {
  .shadow-resume {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }

  .shadow-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.db {
  border: 1px solid red;
}
